.auth {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px 15px;
    background-color: rgb(146, 146, 146);
    border-radius: 5px;
    border: none;
    color: white;
}

.posts {
    width: 60%;
    margin: auto;
    background: rgb(177, 218, 232);
    padding: 30px;
}

.posts h1 {
    margin-bottom: 20px;
}

.description {
    margin: 10px 0;
}

.post {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

.action-buttons {
    display: flex;
    gap: 5px;
}

.action-buttons button {
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.update-btn {
    background-color: lightskyblue;
}

.delete-btn {
    background-color: red;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}